$primary-color: #ff9020;
$secondary-color: #fcb43c;
$dark-primary: #3e3e3e;
$dark-secondary: #646464;
$error-color: #ff4c4c;
$success-color: #4caf50;
$text-primary: $dark-primary;
$text-secondary: $dark-secondary;
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$size-xs: 0.5rem;
$size-s: 0.75rem;
$size-normal: 1rem;
$size-md: 2rem;
$size-lg: 3rem;
